<mat-drawer-container *ngIf="iamAdmin" [autosize]="true" class="min-h-full max-w-5xl mx-auto border-x">

    <mat-drawer-content class="p-20">
        <p></p>
        <h1 class="text-center">Eladói Oldal</h1>
        <div class="row">
            <form>
                <fieldset>

                    <mat-card class="mx-auto max-w-5xl">
                        <div>
                            <div>
                                <h1>Termék neve:
                                    <input style="width:500px; height:50px;" [(ngModel)]="name"
                                        placeholder="Adja meg a termék nevét" [ngModelOptions]="{ standalone: true }">
                                </h1>
                            </div>
                            <div>
                                <h1>Termék ára:
                                    <input style="width:500px; height:50px;" [(ngModel)]="price"
                                        placeholder="Adja meg a termék árát" [ngModelOptions]="{ standalone: true }">
                                </h1>
                            </div>
                            <div>
                                <h1>Termék kategóriája:
                                    <input style="width: 500px; height: 50px;" [(ngModel)]="category"
                                        placeholder="Adja meg a termék kategóriáját"
                                        [ngModelOptions]="{ standalone: true }">
                                </h1>
                            </div>
                            <div>
                                <h1>Termék leírása:
                                    <input multiline style="width:800px; height:50px;" [(ngModel)]="description"
                                        placeholder="Adja meg a termék leírását"
                                        [ngModelOptions]="{ standalone: true }">
                                </h1>
                            </div>
                            <div>
                                <h1>Termék képe:
                                    <input style="width:500px; height:50px;" [(ngModel)]="image"
                                        placeholder="Adja meg a termék képének elérési linkjét"
                                        [ngModelOptions]="{ standalone: true }">
                                </h1>
                                <a href="https://www.linkpicture.com/en/index.php">Megjegyzés: Használja az alábbi oldalt a kép beszúrásához:
                                    https://www.linkpicture.com/en/index.php</a>
                                    <h3></h3>
                            </div>
                        </div>
                        <div class="text-center">
                            <button color="primary" (click)="onAddProduct()" mat-raised-button>Létrehozás</button>
                        </div>
                    </mat-card>
                </fieldset>
            </form>
        </div>
    </mat-drawer-content>

    <mat-drawer-content class="p-30">
        <p></p>
        <h1 class="text-center">Termékek Listája</h1>

        <li *ngFor="let product of products">
            <div>
                <input style="width:100px; height:50px;" class="truncate hover:whitespace-normal" type="number"
                    [(ngModel)]="product.price" (change)="onUpdateProduct(product)" />
                <input style="width:150px; height:50px;" class="truncate hover:whitespace-normal" type="text"
                    [(ngModel)]="product.name" (change)="onUpdateProduct(product)" />
                <input style="width:150px; height:50px;" class="truncate hover:whitespace-normal" type="text"
                    [(ngModel)]="product.category" (change)="onUpdateProduct(product)" />
                <input style="width:350px; height:50px;" class="truncate hover:whitespace-normal" type="text"
                    [(ngModel)]="product.description" (change)="onUpdateProduct(product)" />
                <input style="width:150px; height:50px;" class="truncate hover:whitespace-normal" type="text"
                    [(ngModel)]="product.image" (change)="onUpdateProduct(product)" />
                <button style="float:right" (click)="onDeleteProduct(product)" color="warn"
                    mat-raised-button>Törlés</button>
            </div>
        </li>
    </mat-drawer-content>

    <mat-card *ngIf="!iamAdmin" class="mx-auto my-10 max-w-5xl">
        <div class="text-center">
            NEM VAGY ADMIN!
        </div>
    </mat-card>
</mat-drawer-container>