<mat-card class="text-center">
    <div>
        <img class="mb-1 mx-auto h-[200px]" 
            src="https://via.placeholder.com/150"
        />
        <div class="w-full">
            <div>
                <h5>Autóalkatrészek</h5>
                <p class="truncate hover:whitespace-normal">Gumiabroncsok</p>
                <p>Leírás</p>
            </div>

            <div class="flex justify-between">
                <span class="text-red-500">{{ '150' | currency:'HUF' }}</span>
                <button>
                    <mat-icon class="text-gray-500">shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-card>
