

<!---at-drawer-container [autosize]="true" class="min-h-full max-w-7xl mx-auto border-x">
  <div class="container text-center text-md-start mt-1">
    <div class="row mt-1">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <font size="+3">Bejelentkezés</font>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="container">
      <mat-card class="flex justify-center">
        <div>
          <label for="username">Felhasználónév:</label>
          <input type="text" id="username" name="username">
        </div>
        <div>
          <label for="password">Jelszó:</label>
          <input type="password" id="password" name="password">
        </div>
        <div>
          <button type="submit" routerLink="home">Bejelentkezés</button>
        </div>

        <div class="justify-center">
          <button mat-raised-button routerLink="home">Bejelentkezés</button>
        </div>
      </mat-card>
    </div>
  </div>

</mat-drawer-container-->

<!DOCTYPE html>
<html>
  <!--margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);-->
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="registration">
				<form>
					<label for="chk" aria-hidden="true">Regisztrálás</label>
					<input type="userName" name="userName" placeholder="Felhasználónév" [(ngModel)]="registrationElements.userName">
					<input type="email" name="email" placeholder="Email" [(ngModel)]="registrationElements.email">
					<input type="password" name="password" placeholder="Jelszó" [(ngModel)]="registrationElements.password">
					<button (click)="onRegistration()">Új fiók létrehozása</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Bejelentkezés</label>
					<input type="userName" name="userName" placeholder="Felhasználónév"  [(ngModel)]="loginElements.userName">
					<input type="password" name="password" placeholder="Jelszó" [(ngModel)]="loginElements.password">
					<button (click)="onLogin()">Bejelentkezés</button>
				</form>
			</div>
	</div>
</body>
</html>