<mat-card class="mx-auto my-10 max-w-5xl">
    <p></p>
    <h1 class="text-center">Kapcsolat</h1>
    <p></p>
    <div class="row">
        <h2 class="text-center font-bold my-5">Bence Autósboltja Korlátolt Felelősségű Társaság</h2>
        <div class="infotitle my-10">Telefonszám:</div>
        <div class="infotext my-5">+36-20/55-55-555</div>
        <div class="infotitle my-10">Cím(telephely, levelezési cím):</div>
        <div class="infotext my-5">9026 Győr, Egyetem tér 1.</div>
        <div class="infotitle my-10">E-mail cím:</div>
        <div class="infotext my-5" href="mailto:szabobubi@gmail.com">szabobubi@gmail.com</div>
        <div class="infotitle my-10">Adószám:</div>
        <div class="infotext my-5">55555555-5-55</div>
    </div>
</mat-card>

<mat-card class="mx-auto my-10 max-w-5xl">
    <footer class="text-center text-lg-start bg-light text-muted">
        <div class="container text-center text-md-start mt-1">
          <div class="row mt-1">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <font size="4"><a routerLink="/contact">Kapcsolat</a></font>
            </div>
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <font size="4"><a routerLink="/datamanagement">Adatkezelési tájékoztató</a></font>
            </div>
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <font size="4"><a routerLink="/information">Céginfó, jogi információk</a></font>
            </div>
          </div>
        </div>
      </footer>
</mat-card>