<mat-card class="mx-auto my-10 max-w-5xl">
    <p></p>
    <h1 class="text-center">Céginformáció</h1>
    <p></p>
    <div class="row">
        <div class="infotitle my-10">A cég megnevezése:</div>
        <div class="infotext my-5">Bence Autósboltja Korlátolt Felelősségű Társaság</div>
        <div class="infotitle my-10">A cég székhelye:</div>
        <div class="infotext my-5">9026 Győr, Egyetem tér 1.</div>
        <div class="infotitle my-10">A cég fő tevékenysége:</div>
        <div class="infotext my-5">4531 Gépjárműalkatrész-kiskereskedelem</div>
        <div class="infotitle my-10">A cég jegyzett tőkéje:</div>
        <div class="infotext my-5">Összesen: 0 HUF</div>
        <div class="infotitle my-10">A cég adószáma:</div>
        <div class="infotext my-5">55555555-5-55</div>
        
        <div class="my-10">
            Bővebb információért kérjük lépjen velünk kapcsolatba a következő elérhetőségen:
            <a href="mailto:szabobubi@gmail.com">Szabó Bence</a>.
        </div>
    </div>
</mat-card>

<mat-card class="mx-auto my-10 max-w-5xl">
    <footer class="text-center text-lg-start bg-light text-muted">
        <div class="container text-center text-md-start mt-1">
          <div class="row mt-1">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <font size="4"><a routerLink="/contact">Kapcsolat</a></font>
            </div>
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <font size="4"><a routerLink="/datamanagement">Adatkezelési tájékoztató</a></font>
            </div>
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <font size="4"><a routerLink="/information">Céginfó, jogi információk</a></font>
            </div>
          </div>
        </div>
      </footer>
</mat-card>